{%for post in patientname.patientsystemic_set.all %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" >
                  <div class="card card-block" >card
                    <h3>SYSTEMIC EXAMINATION</h3>
                    <div class="card-body">
                      <article class="media content-section">
                          <div class="media-body">
                            <div class="article-metadata">
                              <h4>posted id<a class="mr-2" href="#"> <b> {{post.id}}</b></a></h4>
                              <h4>posted pk<a class="mr-2" href="#"> <b> {{post.pk}}</b></a></h4>
                              <h4>posted by<a class="mr-2" href="#"> <b> {{object.pk}}</b></a></h4>
                              <meta name="keyword" content="{{post.title_n}} "> <!-- try exp -->
                              <h4>systemic ind pk<a class="mr-2" href=""> <b>{{post.history_of_f}}</b></a></h4>
                              <h4>respiratory system<a class="mr-2" href=""> <b>{{post.respiratory_system}}</b></a></h4>
                              <h4>cardiovascular system<a class="mr-2" href=""> <b>{{post.cardiovascular_system}}</b></a></h4>
                              <h4>abdomen<a class="mr-2" href=""> <b>{{post.abdomen}}</b></a></h4>
                              <h4>central nervous system<a class="mr-2" href=""> <b>{{post.central_nervous_system}}</b></a></h4>
                              <h4>locomotor system<a class="mr-2" href=""> <b>{{post.locomotor_system}}</b></a></h4>
                              <h4>local examination<a class="mr-2" href=""> <b>{{post.local_examination}}</b></a></h4>
                              <h4>date tested<a class="mr-2" href=""> <b>{{post.date_tested}}</b></a></h4>
                            </div> <!--date_posted??-->
                            {% if user.is_dr  %}
                              <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1 js-update-patientsystemic" data-url="{% url 'patientsystemic_update' post.pk  %}">update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1 js-delete-patientsystemic" data-url="{% url 'patientsystemic_delete' post.pk %}">Delete</a>
                                <small class="text-muted">status: </small>
                              </div>
                            {% endif %}
                          </div>
                      </article>
                    </div>
                  </div>
                </div>
            {%endfor%}
