{% load widget_tweaks %}

<!-- <script>
    $(function () {
      $("#id_date_vitals ").datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
  </script>
 -->
 <form method="post" action="{%url 'patientvitals_create' form.instance.pk %}"  class="js-patientvitals-form">
 {% csrf_token %}
<div class="modal-header" >

<h4 class="modal-title" >create a new patient vital chart</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="close" >
    <span aria-hidden="true">&times;</span>
</button>
</div>
    <div class="modal-body" id="date_vitals">
        {%for field in form%}
          <div class="form-group{%if field.errors%} has-error {%endif%}" >
              <label for="{{field.id_for_label}}">{{field.label}} </label>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              {% render_field field class="form-control" %}
              {%for error in field.error%}
                <p class="help-block" >{{error}}</p>
              {%endfor%}
          </div>
        {%endfor%}
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="submit" class="btn btn-primary" >create patient vital block</button>

    </div>

</form>

