{% extends "appointment/base.html" %}

{%load static%}

{%block fullcalendar%}
  <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet">




  <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet">




  <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>




  <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>

  <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>

  <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>




{%endblock fullcalendar%}
{%block javascript%}
    <script src="{%static 'appointment/js/appointmentstatus.js'%}"></script>
    <script src="{%static 'appointment/js/calendar.js'%}"></script>
{%endblock javascript%}

{% block content %}
<div class="col-md-5">

    {% for post in posts %}
      <div class="card-body" id="appointment-block">
        <article class="media content-section">
          <!--<img class="rounded-circle article-img " src="{{ post.staff.profile.image.url }}">-->
          <div class="media-body">

            <div class="article-metadata">posted by<meta name="keyword" content=" {{post.patient_name}}"> <!-- try exp -->
              <a class="mr-2" href="#"> <b>{{ post.staff.staff|capfirst }}</b></a>

              <small class="text-muted">on {{ post.date_posted|date }}</small> <!--date_posted??-->
            </div>
            <h5>Patient Name :<a class="article-title" href="{% url 'appointment-detail' post.id %}"> {{ post.patient_name|capfirst }} </a></h5>
            <h5>Patient Name :<a class="article-title" href="#"> {{ post.appointment_for.pk }} </a></h5>
            <h6>Appointment start time : {{post.start| time}} Date: {{post.start| date}}</h6>
            <h6>Appointment end time : {{post.end| time}} Date: {{post.end| date}}</h6>
            {%for dr in post.dr_name.all%}
            <h6>Dr. <a href="">{{dr}}</a></h6>
            {%endfor%}


            <p class="article-content">{{ post.content|capfirst|linebreaks|truncatechars:320 }}</p>

            <h6>Status:<a class="likebutton btn " id="status{{ post.id }}" href="#" data-catid="{{ post.id }}" value="{{ post.status }}">{{ post.status }}</a> </p> <p id="message{{post.id}}"></p></h6>
            {%if post.appointment_for == post.patient_name or post.appointment_for != None %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'patient-profile' post.appointment_for.pk %}">Patient Profile</a>
            {%else%}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'patientname-create' %}">Patient Register</a>
            {%endif%}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'appointment-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'appointment-delete' post.id %}">Delete</a>

          </div>
        </article>
      </div>
    {% endfor %}


        <!--paginater code for class-->

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

</div>
{% endblock content %}


{%block calender1%}
<aside>
      <!--fullcalendar code for class-->
<div id="calander1" class="gr__fullcalendar_io">



<body data-gr-c-s-loaded="true" class="">

{%csrf_token%}

  <div id="calendar" class="fc fc-ltr fc-unthemed" style=""><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"></div></div></div>


</body>
</div>
</aside>

<script>
  var events=[
    {%for i in posts%}
      {
      title:"{{i.patient_name}}",
      start:"{{i.start|date:"Y-m-d H:m"}}",
      end:"{{i.end|date:"Y-m-d H:m"}}",
    },
    {%endfor%}
    ]

</script>
{%endblock calender1%}
